<!DOCTYPE html>
<html ng-app="UpDog">
<head>
	<title>Game History</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css">
	<link rel="stylesheet" href="main.css">

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js"></script>
	<script src="http://code.jquery.com/jquery.js"></script>
	<script type-'text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
	<script type="text/javascript" src="main.js"></script>
</head>

<body ng-controller="gameStats" class="container">

	<div class="row">
		<h2>Game History</h2>
	</div>
	
	<div class="row vert-middle" ng-repeat="point in game.pointHistory">
		<div class="col-xs-4">
			<div ng-show="point.result" class="vert-middle" ng-click="expand($index)">{{point.shallowString()
				<div ng-show="expandPoints[$index]">
					<ul>
						<li ng-repeat="player in point.playersOn"></li>
					</ul>
					<p>{{point.stats}}</p>
				</div>
			</div>
		</div>

		<div class="col-xs-4">
			<h3 class="vert-middle">{{point.score[0]}} - {{point.score[1]}}</h3>
		</div>

		<div class="col-xs-4">
			<div ng-hide="point.result" class="vert-middle" ng-click="expand($index)">{{point.shallowString()}}
				<div ng-show="expandPoints[$index]" class="col-xs-6">
					<p>{{point.stats}}</p>
				</div>
			</div>
		</div>
	</div>

</body>