body {
	background-color: black;
	color: white;
}

.score {
	font-style: bold;
	font-size: 2em;
}

.us {
	background-color: green;
}

.them {
	background-color: red;
}

.team-name {

}

.male {
	background-color: blue;
}

.female {
	background-color: pink;
}

.record-score{
	padding: 5px;
}