<!DOCTYPE html>
<html ng-app="UpDog">
	<head>
		<title>Angular practice</title>
		<link rel="stylesheet" href="main.css">
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js"></script>
		<script type="text/javascript" src="main.js"></script>
	</head>
	<body ng-controller="gameManager">
		<div class="scoreboard">
			<span class="score">{{us}} - {{them}}
			<br>
			<span class="team-name">US</span>
			<span class="timer" ng-show="timerOn">{{timer}}</span>
			<span class="team-name">THEM</span>
		</div>

		<div class='scores-subs'>
			<button class='record-score us' ng-hide='substitutionMode' ng-click="recordScore(true)">We scored!!</button>
			<button ng-show='substitutionMode' ng-click='doneSubstitutions()'>Done Substitutions</button>
			<button class='record-score them' ng-hide='substitutionMode' ng-click="recordScore(false)">They scored...</button>
		</div>

		<div class='bench men'>Bench
		<!-- possibility rotate between two sets, scroll up and down -->
			<ul>
				<li ng-repeat="guy in darkSide.bench | orderBy: 'handle' ">{{guy.handle}}</li>
			</ul>
		</div>
<!-- 		<div class='bench women'>
			<ul>
				<li ng-repeat="girl in benchWomen | orderBy: 'handle' ">{{girl.handle}}</li>
			</ul>
		</div> -->
<!-- 		<div class='undo'>
			<h3 ng-click='undo()'>UNDO</h3>
		</div> -->

		<div class='bench'>Field
			<ul>
				<li ng-repeat="player in field | orderBy: 'handle' ">{{player.handle}}</li>
				<!-- ng-click="subOff(self, substitutionMode)" -->
			</ul>
		</div>
		<button ng-click="clearLine" ng-show="substitutionMode">Clear Field</button>
</body>
</html>