<!DOCTYPE html>
<html ng-app="UpDog">
	<head>
		<title>Angular practice</title>
		<link rel="stylesheet" href="ex4-1-2.css">
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js"></script>
		<script type="text/javascript" src="main.js"></script>
	</head>
	<body ng-controller="XXX">
		<div class="scoreboard">
			<span class="score">{{us}} - {{them}}
			<span class="team-name">Us Them</span>
		</div>

		<div class='scores-subs'>
			<button class='record-score us-color' ng-hidden='substitutionMode'>We scored!!</button>
			<button ng-show='substitutionMode'>Done Substiutions</button>
			<button class='record-score them-color' ng-hidden='substitutionMode'>They scored...</button>
		</div>

		<div class='bench men'>
			<ol>
				<li ng-repeat="guy in benchMen | orderBy: 'name' ">{{guy}}</li>
			</ol>
		</div>
		<div class='bench women'>
			<ol>
				<li ng-repeat="girl in benchWomen | orderBy: 'name' ">{{girl}}</li>
			</ol>
		<div class='field'>
			<ol>
				<li ng-repeat="player in field | orderBy: 'name' ">{{player}}</li>
			</ol>
		</div>