body {
	background-color: black;
	color: white;
	max-width: 480px;
	text-align: center;
}

.score {
	font-weight: bold;
	font-size: 2em;
}

.col-1-4 {
	width: 25%;
	margin: 0;
	display: inline-block;
}

.scoreboard {
	text-align: center;
}

.us {
	background-color: green;
}

.them {
	background-color: red;
}

.team-name {

}

.male {
	background-color: #0000b3;
}

.female {
	background-color: #ff33cc;
}

.bench {
	width: 25%;
	display: inline-block;
	height: 50%;
}

ul {
	list-style-type: none;
	padding-left: 0;
	text-align: initial;
	border: 1px solid white;
}

li {
	margin: 5% 0;
	font-size: 1.25em;
}

.record-score{
	padding: 5px;
}