<!DOCTYPE html>
<html ng-app="UpDog">
	<head>
		<title>Angular practice</title>
		<link rel="stylesheet" href="main.css">
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js"></script>
		<script type="text/javascript" src="main.js"></script>
	</head>
	<body ng-controller="gameManager">
		<div class="scoreboard">
			<div class="score col-1-4">{{us}}</div>
			<div class="score col-1-4"> - </div>
			<div class="score col-1-4">{{them}}</div>
		</div>

		<div class="scoreboard">
			<div class="team-name col-1-4">US</div>
			<div class="timer col-1-4" ng-show="timerOn">{{timer}}</div>
			<div class="team-name col-1-4">THEM</div>
		</div>

		<div class='scores-subs'> 
		<!-- build three container div's to generate space when buttons are hidden -->
			<button class='record-score us' ng-hide='subMode' ng-click="recordScore(true)">We scored!!</button>
			<button ng-show='subMode' ng-click='doneSubbing()'>Done Substitutions</button>
			<button class='record-score them' ng-hide='subMode' ng-click="recordScore(false)">They scored...</button>
		</div>

		<div class='bench men'>Bench
			<ul>
				<li class="male" ng-repeat="guy in team.benchMen" ng-click="subOn($index, 'm', subMode)">{{guy.handle}}</li>
			</ul>
		</div>
		<div class='bench women'>
			<ul>
				<li class="female" ng-repeat="girl in team.benchWomen" ng-click="subOn($index, 'f', subMode)">{{girl.handle}}</li>
			</ul>
		</div>

		<div class='bench'>Field
			<ul>
				<li ng-repeat="player in team.field" ng-click="subOff($index, subMode)">{{player.handle}}</li>
				<!-- ng-click="subOff(self, subMode)" -->
			</ul>
		</div>
		<button ng-click="clearLine()" ng-show="subMode">Clear Line</button>
</body>
</html>