<!DOCTYPE html>
<html ng-app="settings">
<head>
	<title>UpDog - Settings</title>
	<link rel="stylesheet" href="main.css">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js"></script>
	<script type="text/javascript" src="settings.js"></script>
</head>

<body ng-controller="settings">
	<div style="width: 100%">
		<span ng-click='changeView(0)'>Players</span>
		<span ng-click='changeView(1)'>Teams</span>
		<span ng-click='changeView(2)'>Game Settings</span>
		<span ng-click='changeView(3)'>Stats</span>
		<!-- transitions so it's not so jarring, to show a stable order -->
	</div>

	<div ng-show='viewKey[0]'>
		<h3>Add Player</h3>
		<span>Player Name:</span><input type='text' ng-model='newPlayer[0]'><br>
		<span>Nickname:</span><input type='text' ng-model='newPlayer[1]'><br>
			<input type='radio' ng-model='newPlayer[2]'>Male
			<input type='radio' ng-model='newPlayer[3]'>Female
		<span>Add player to:</span>
		<input type='checkbox' ng-repeat='team in TEAMSTORAGE'>{{team}}
		<button type='button' ng-click-'submitPlayer()'>Submit Player</button>
		<h3>Edit Players</h3>
		<span ng-repeat='player in PLAYERSTORAGE'>{{player}}</span>
		<!-- add teams already in local storage -->
		<!-- ng-repeat teams in storage with checkboxes -->
	</div>

	<div ng-show='viewKey[1]'>
	<h3>Edit Teams</h3>
		<!-- display teams in local storage -->
		<!-- add team, move local players on/off team -->
		<div>Create a team</div>
		<div> edit an existing team's roster</div>
	</div>

	<div ng-show='viewKey[2]'>
		<h3>Edit Game Settings</h3>
		<span>Game Length</span>
		<span>Soft Cap:</span>
		<div>Gender Ratio:<br>
			<label><input type='text' ng-model='genderRatio[0]' maxlength='1' size='1'>Guys</label>
			<label><input type='text' ng-model='genderRatio[1]' maxlength='1' size='1'>Girls</label>
		</div>
	</div>

	<div ng-show='viewKey[3]'>

	</div>

</body>