<!DOCTYPE html>
<html ng-app="UpDog">
<head>
	<title>Edit Players</title>
	<link rel="stylesheet" href="main.css">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js"></script>
	<script type-'text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
	<script type="text/javascript" src="main.js"></script>
</head>

<!-- fix formatting to move benches lower, have bonus buttons on a bottom row -->

<body ng-controller="settings">

	<div style='text-align: left'>
		<p>Player Name: <input type='text' ng-model='player.name'></p>
		<p ng-show='nameError' class='error-msg'>Error: Player name required.</p>
		<p>Player Nickname: (optional) <input type='text' ng-model='player.handle'></p>
<!-- 		<p>Gender: (m or f) <input type='text' ng-model='player.gender'></p>
		<p ng-hide='verified.gender' class='error-msg'>Error: gender must be 'm' or 'f'.</p> -->
		<button class='col-1-3' ng-click='submitPlayer("f")'>Submit Girl</button>
		<div class='col-1-4'></div>
		<button class='col-1-3' ng-click='submitPlayer("m")'>Submit Guy</button>

		<div style='height: 5vh'></div>
		<button ng-click='removePlayer()'>Delete Player</button>
		<!-- verify before deleting -->
		<!-- place a copy of the edited player here -->

		<!-- checkboxes to adding to a team; later -->

		<div style='height: 20vh'></div>
		<div class='roster-container'>
			<div class='bench col-1-3'>
				<ul>
					<li class='female' ng-repeat="player in allPlayers | filter: chicksOnly" ng-click="edit(player)">{{player.handle}}</li>
				</ul>
			</div>
			<div class='bench col-1-3'>
				<ul>
					<li class='male' ng-repeat="player in allPlayers | filter: dudesOnly" ng-click="edit(player)">{{player.handle}}</li>
				</ul>
			</div>
		</div>

</body>
</html>